@media all and (max-width: 767px) {

    .container,
    .left2_p1,
    .left2_p2,
    .bg2_delectus_block p,
    .scrinshots_descriptions_description_text_lorem,
    .footer_contacts_block_icons_column a,
    input::placeholder,
    textarea::placeholder,
    input[type="submit"] {
        font-size: 16px;
    }

    .left1 h1 {
        font-size: 60px;
        line-height: 47px;
    }

    .menu li i,
    .menu li {
        font-size: 20px;
        line-height: 36px;
    }

    .left2 h2, /*line-height: 32px;*/
    .bg2_h2, /*line-height: 32px;*/
    .scrinshots_h2, /*line-height: 25px;*/
    .reviews_h2, /*line-height: 24px;*/
    .buy_now, /*line-height: 25px;*/
    .footer_contacts_h2 /*line-height: 26px;*/ {
        font-size: 30px;
    }

    .scrinshots_descriptions_description_text_h3, /*line-height: 18px;*/
    .buy_block_standart_h3, /*line-height: 51px;*/
    .buy_block_premium_h3, /*line-height: 51px;*/
    .buy_block_lux_h3 /*line-height: 51px;*/ {
        font-size: 24px;
    }
    
    .buy_block_standart_h3, 
    .buy_block_premium_h3, 
    .buy_block_lux_h3 {
        font-size: 24px;
        line-height: 51px;
    }

    .reviews_blocks_lorem_text_p1, /*line-height: 18px;*/
    .reviews_blocks_lorem_text_p2, /*line-height: 12px;*/
    .buy_block_standart_text_p1, /*line-height: 24px;*/
    .buy_block_premium_text_p1, /*line-height: 24px;*/
    .buy_block_lux_text_p1 /*line-height: 24px;*/ {
        font-size: 14px;
    }

    .buy_block_standart_dollar_h3,
    .buy_block_premium_dollar_h3,
    .buy_block_lux_dollar_h3 {
        font-size: 40px;
        line-height: 71px;
    }

    .buy_block_standart_text_p2 a p,
    .buy_block_premium_text_p2 a p,
    .buy_block_lux_text_p2 a p {
        font-size: 18px;
    }

    .footer_contacts_block_icons_column a i {
        font-size: 26px;
    }

    .footer_contacts_block_icons_column a .icq {
        width: 26px;
        height: 26px;
    }

    .footer_contacts_block_icons_column a .phone {
        width: 24px;
        height: 23px;
    }

    .twitter,
    .facebook,
    .linkedin,
    .google,
    .youtube {
        width: 42px;
    }
    
    .left2_p1, .left2_p2, .bg2_delectus_block p, .scrinshots_descriptions_description_text_lorem {
        font-size: 16px;
        line-height: 24px;
    }
}
